{% extends "base.html" %}
{% load staticfiles %}

{% block custom_css %}
	<link href="{%static 'accounts/css/login.css'%}" rel="stylesheet"/>
{% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="weixin-login">
			<img class="weixin-logo" src="{%static 'accounts/images/wechat.png'%}"/>

			<div class="login-button">
				<a class="btn btn-lg btn-success" href="{%url 'accounts:login-weixin' %}?next={{next}}" role="botton">微信登录</a>
			</div>
		</div>
	</div>

{% endblock %}

