{% extends "base.html" %}
{% load staticfiles %}

{% block custom_css %}
	<link href="{%static 'toys/css/browse_all_toys.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div class="container div-margin-top full-width">
		<div class="display-toys row">
			{% for toy in toys%}
			<div class="toy-container col-sm-3 col-lg-2">
				{% if toy.image1 %}
				<img src="{{toy.image1_thumbnail.url}}" height="150"/>
				{% else %}
				<img src="{{MEDIA_URL}}toys/question/question_thumbnail.jpg" height="150"/>
				{% endif %}
				<div class="toy-price"> {{toy.sold_by_propose_price}}元</div>
				<div class="toy-title">{{toy.title}}</div>
				<div class="toy-brand">{{toy.brand}}</div>
			</div>
			{% endfor %}
		</div>

		<div class="pagination">
			<ul>
				{% if page_obj.has_previous %}
					<li class="active-pg-block"><a href="?page={{page_obj.previous_page_number}}"> 上一页 </a></li>
				{% else %}
					<li class="inactive-pg-block"> 上一页 </li>
				{% endif %}
	
				{% for pg in page_obj.paginator.page_range %}
					{% if pg == page_obj.number %}
					<li class="inactive-pg-block">{{pg}}</li>
					{% else %}
					<li class="active-pg-block"><a href="?page={{pg}}">{{pg}}</a></li>
					{% endif %}
				{% endfor %}


				{% if page_obj.has_next%}
				 	<li class="active-pg-block"><a href="?page={{page_obj.next_page_number}}"> 下一页 </a></li>
				 {% else %}
				 	<li class="inactive-pg-block"> 下一页 </li>
				{% endif %}
			</ul>
		</div>
	</div>


{% endblock %}